
<!--
	class: class of the icon
	link: url the icon directs to
	caption: caption
-->
<ul id="icon-menu">
  {{ range .Params }}
    <li>
      {{ $link := . }}
      {{ $parts := split $link "&" }}
      {{ $href := "" }}
      {{ $src := "" }}
      {{ range $parts }}
        {{ $kv := split . "=" }}
        {{ if eq (index $kv 0) "link" }}
          {{ $href = index $kv 1 }}
        {{ else if eq (index $kv 0) "icon" }}
          {{ $src = index $kv 1 }}
        {{ end }}
      {{ end }}
      <a href="{{ $href }}">
        <img src="{{ $src }}" alt="Icon">
      </a>
    </li>
  {{ end }}
</ul>
