{{ $site := .Site }}
{{ with .Get "label" }}
    {{ if eq . "tag" }}
        <ul id="tagcloud">
            {{ range $name, $items := $site.Taxonomies.tags }}
            {{ $url := printf "%s/%s" "tags" ($name | urlize | lower)}}
            <li><a href="{{ $url | absURL }}" id="tag_{{ $name }}">{{ $name | title }}</a></li>
            {{ end }}
        </ul>
    {{ end }}
    {{ if eq . "index" }}
        <ul id="tagcloud">
            {{ range $name, $items := $site.Taxonomies.tags }}
            {{ $url := printf "%s" ($name | urlize | lower)}}
            <li><a href="{{ $url | absURL }}" id="tag_{{ $name }}_index">{{ $name | title }}</a></li>
            {{ end }}
        </ul>
    {{ end }}
{{ end }}
